 header{
       /* background-image: url("WaterColor.jpg");*/
        background-color: rgba(200,200,200, 1);
        position: absolute;
        top: -40px;
        width: 100%;
        height: 200px;

    }
    .top_menu_list {
            background-color: #f0f0f0;
            width: 97%;
            position: absolute;
            top: 100px;
            color: solid black;
            border-right:1px;
         } 
    body {  margin:auto;
        font-family:"Times New Roman";font-size:25px;
        background-image:url("S.png");  
     } 

     main{
        background-color: black;
        position: absolute;
        top: 300px;
     }
    #topbar {
              background-color: #f7f7f7;
           width: 100%;
           color: black;  
           height:40px;

        }
      
      
    #LogoMenu {
            border: solid #f7f7f7 2px;
            border-radius: 6px;
            color: rgba(0,0,0,1);  
            font-weight:bold;
            font-size:1.5em;
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;
         } 
                                                                

    #SigninMenu { 
            border: solid #f7f7f7 2px;
            border-radius: 6px;
           font-weight:bold;
            font-size:0.9em;
           
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;
                                         
           }
       
    #HomeMenu {
            border: solid #f7f7f7 2px;
            border-radius: 6px;
            font-weight:bold;
            font-size:0.9em;
            
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;
            } 
    #MenMenu {
             border: solid #f7f7f7 2px;
            border-radius: 6px;
           font-weight:bold;
            font-size:0.9em;
           
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;}

    #WomenMenu{
           border: solid #f7f7f7 2px;
            border-radius: 6px;
             font-weight:bold;
            font-size:0.9em;
            
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;


        }

    #KidsMenu{
             border: solid #f7f7f7 2px;
            border-radius: 6px;
           font-weight:bold;
            font-size:0.9em;
          
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;

    }

    #AccessoriesMenu{
            border: solid #f7f7f7 2px;
            border-radius: 6px;
            font-weight:bold;
            font-size:0.9em;
           
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;

    }

    #MoreMenu{
            border: solid #f7f7f7 2px;
            border-radius: 6px;
            font-weight:bold;
            font-size:0.9em;
            
            height:89%;
            padding:5px 20px 0px 20px;
            float:left;

    }

    #SearchMenu input { 
                    position: relative;
                    right: 40px;
                    float: right;
                    height:30px;
                    
                    border:none;
                    font-size:0.8em;
                    padding-right: 40px; 
                    padding-left:10px;
                   /* background-repeat:no-repeat;
                    background-position:right center;*/
                 } 

       

footer  { 
            position: absolute;
            bottom: 20px;
            width: 100%;
            height: 300px;
            background-color: rgba(200,200,200, 1);
        }